@font-face {
    font-family: cf1;
    src: url(./font.ttf);
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
    font-family: cf1;
    background: #000;
}

.main{
    height: 100%;
    width: 100%;
    background-image: url(image.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    color: white;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.container h1{
    font-size: 64px;
}

button{
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

button:hover{
    background-color: rgb(0, 0, 203);
}